:root {
    --base: #000000;
    --acc1: #14213D;
    --acc2: #FCA311;
    --acc3: #E5E5E5;
    --main: #FFFFFF;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: var(--main);
}

nav {
    background-color: var(--acc1);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    border-bottom: 4px solid var(--acc3);
    /* box-shadow: 0px 10px 10px var(--acc3); */
    font-size: 16pt;
}

nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
    height: 100%;
    width: 100%;
}

nav li {
	display: inline-flex;
    float: right;
    margin: 0px 20px 0px 0px;
    width: auto;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    justify-content: center;
}

nav li.nav-title {
    position: fixed;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    font-size: 20pt;
    font-weight: bold;
}

nav li.home-button {
    float: left;
    width: 50px;
    font-size: 1.5em;
}

nav li.home-button i {
    background-size: 50px;
}

nav a {
    text-decoration: none;
    color: var(--main);
}

nav a:visited {
    display: flex;
    color: var(--main);
}

nav [aria-current=page] {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}

main {
    padding-top: 60px;
    height: 100%;
    padding-left: 10px;
    background-color: var(--base);

}

.about-page {
    width: 100%;
    height: 75%;
    transform: translateY(5%);
}

.about-wrapper {
    float: left;
    width: 70%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    vertical-align: middle;
    justify-content: center;
    overflow-y: auto;
}

.about-text {
    width: 90%;
    margin-left: 5%;
    padding: 0;
}

.about-title {
    text-align: center;
    font-size: 36pt;
    font-weight: bold;
    margin: 15px;
}

.about-text a {
    color: var(--main);
}

.about-subtitle {
    text-align: center;
    font-size: 24pt;
    margin: 10px;
}

.profile-pic-wrapper {
    width: auto;
    margin: 0;
    margin-left: 70%;
    height: 100%;
}

img.profile-pic {
    max-height: 80%;
    max-width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    outline: 1px solid var(--acc3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 5px;
}