html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

nav {
    background-color: rgb(52,61,70);
    position: fixed;
    top: 0px;
    /* left: 0px; */
    width: 100%;
    height: 50px;
    box-shadow: 0px 10px 10px whitesmoke;
    font-size: 16pt;
}

nav [aria-current=page] {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}

nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
    height: 100%;
    width: 100%;
}

nav li {
	display: inline-flex;
    float: right;
    margin: 0px 20px 0px 0px;
    width: auto;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    justify-content: center;
}

nav li.nav-title {
    position: fixed;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    font-size: 20pt;
    font-weight: bold;
}

nav li.home-button {
    float: left;
    width: 50px;
    font-size: 1.5em;
}

nav li.home-button i {
    background-size: 50px;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    display: flex;
    color: whitesmoke;
}

main {
    padding-top: 60px;
    height: 100%;
    padding-left: 10px;
    background-color: rgb(52,61,70);

}